# data storage
raw/
raw_ignored/
*.jsonl
*.csv
raw.txt

# training artifacts
*_artifacts/
*.gguf
*.safetensors

# nodejs
node_modules/

# python
.ruff_cache/
venv/
.venv/
unsloth_env/
site-packages/
__pycache__

# unsloth
_unsloth*/
unsloth_compiled_cache/

# direnv
.direnv
